<div class="col-6" style="margin: auto;">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="text-center border border-light p-5">
    <p class="h4 mb-4">Sign in</p>
    <input type="text" name="username" class="form-control mb-4" [(ngModel)]="user.userName" placeholder="Username" required>
    <input type="password" name="password" class="form-control mb-4" [(ngModel)]="user.password" placeholder="Password" required>
    <button id="submitBtn" class="btn btn-info btn-block my-4" type="submit" [disabled]="!f.valid">Sign in</button>
    <p id="result" class="font-weight-bold">Valid: {{ f.valid }}</p>
  </form>
</div>